<h1>Students</h1>
<table class="table table-striped" ng-controller="studentsController">
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Age</th>
			<th>Resume</th>
			<th>Action</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input class="form-control" ng-model="student.name"></td>
			<td>
			<select ng-model="student.grade" ng-options="value.name for value in grades track by value.id" class="form-control">
				<option value="">--Select --</option>
			</select>
			</td>			
			<td><input class="form-control" ng-model="student.age"></td>
			<td><input class="form-control" ng-model="student.resume"></td>
			<td><button class="btn btn-primary" ng-click="!disabledUpdate || createStudent()" ng-disabled="!disabledUpdate">Add Student</button></td>
			<td><button class="btn btn-info" ng-click="disabledUpdate || update()" ng-disabled="disabledUpdate">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
		</tr>
		<tr ng-repeat="student in students">
			<td>{{student.name | capitalize}}</td>
			<td>{{student.grade.name | capitalize}}</td>
			<td>{{student.age}}</td>
			<td>{{student.resume | maxLength: 15 | capitalize}}</td>
			<!--<td>{{student.resume.length <= 15 ? student.resume : (student.resume | limitTo: 15) + ' ...'}}</td>-->
			<td><button class="btn btn-danger" ng-click="remove(student._id)">Remove</button></td>
			<td><button class="btn btn-warning" ng-click="edit(student._id)">Edit</button></td><!--Call 1.0 -->
		</tr>
	</tbody>
</table>
