<div ng-controller="teachersController">
	<h1>Teachers</h1>
	<div class="row">		
		<table class="table table-striped">
			<thead>
				<tr>
					<td><input type="text" ng-model="search.name" class="form-control" placeholder="search here"></td>
					<td><input type="text" ng-model="search.age" class="form-control" placeholder="search here"></td>
					<td><input type="text" ng-model="search.course.name" class="form-control" placeholder="search here"></td>
					<td><input type="text" ng-model="search.bio" class="form-control" placeholder="search here"></td>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<th><a class="puntero" ng-click="column = 'name'; reverse = !reverse;">Name</a></th>			
					<th><a class="puntero" ng-click="column = 'age'; reverse = !reverse;">Age</a></th>
					<th><a class="puntero" ng-click="column = 'course'; reverse = !reverse;">Course</a></th>
					<th>Bio</th>
					<th>Action</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>		
				<tr ng-repeat="teacher in teachers | filter:search | orderBy: column: reverse | limitTo: position | limitTo: -5 ">
					<td>{{teacher.name}}</td>			
					<td>{{teacher.age}}</td>
					<td>{{teacher.course.name}}</td>
					<td>{{teacher.bio.length <= 15 ? teacher.bio : (teacher.bio | limitTo: 15) + ' ...'}}</td>
					<td><button class="btn btn-danger" ng-click="disabledUpdate || remove(teacher._id)" ng-disabled="disabledUpdate">Remove</button></td>
					<td><button class="btn btn-warning" ng-click="disabledUpdate || edit(teacher._id)" ng-disabled="disabledUpdate">Edit</button></td><!--Call 1.0 -->
				</tr>
			</tbody>
			<tfoot>
				<tr>				
					<td colspan="3">
						<div ng-if="teachers.length > 5">
							<button class="btn btn-primary" ng-click = "before()">Before</button>
							<button class="btn btn-primary" ng-click = "follow()">Follow</button>
						</div>
						<div ng-if="teachers.length <= 5">
							&nbsp;	
						</div>
						<!--{{position}}-->
					</td>					
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><button class="btn btn-primary" ng-click="disabledUpdate || newTeacher()" ng-disabled="disabledUpdate">Add Teacher</button></td>
				</tr>
			</tfoot>
		</table>	
	</div>
	<div class="row animated fadeIn fast" ng-show="showForm">
		<div class="col-sm-9">
			<section class="panel">
				<div class="panel-body">
					Name:
					<input type="text" class="form-control" name="name" ng-model="teacher.name" autofocus>
					<br>

					Age:
					<input type="text" class="form-control" ng-model="teacher.age">
					<br>

					Course:					
					<select ng-model="teacher.course" ng-options="value.name for value in courses track by value.id" class="form-control">
						<option value="">--Select --</option>
					</select>
					<br>

					Bio:
					<textarea class="form-control" ng-model="teacher.bio" rows="5"></textarea>

					<br>
					<div ng-if="isNewTeacher">
						<button class="btn btn-primary" ng-click="save()">Save</button>
						<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
					</div>
					<div ng-if="!isNewTeacher">
						<button class="btn btn-primary" ng-click="save()">Update</button>
						<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
					</div>
					<!--<button class="btn btn-primary" ng-click="save()">{{isNewTeacher ? 'Save' : 'Update'}}</button>-->
					<!--<button class="btn btn-danger" ng-click="cancel()">Cancel</button>-->
				</div>
			</section>
		</div>	
	</div>	
</div>

